 {http://www.w3.org/1999/xhtml
}
h1.Headlineyellow {
    margin-top: 24pt;
    line-height: 115.0%;
    margin-bottom: 0;
    font-family: 'Arial', 'sans-serif';
    font-size: 16pt;
    margin-left: 0;
    margin-right: 0;
    color: #283A5F;
    font-weight: bold
}
ul.List0 {
counter-reset: section01;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List29 {
counter-reset: section291;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List3 {
counter-reset: section31;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ul.List33 {
counter-reset: section331;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List36 {
counter-reset: section361;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List37 {
counter-reset: section371;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List45 {
counter-reset: section451;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ul.List46 {
counter-reset: section461;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ul.List6 {
counter-reset: section61;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
p.ListParagraph {
    margin-left: 0.50in;
    line-height: 115.0%;
    margin-bottom: 10pt;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    margin-top: 0;
    margin-right: 0;
    counter-reset: Numbering332
}
p.ListParagraph::before {
    content: counter(bullet,disc);
    margin-left: 0.50in;
    text-indent: -0.25in;
    font-family: Symbol;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: .001pt
}
body {}
ol.List29>li {
 position: relative
}
ol.List29>li::before {
counter-increment: section291;
content:counter(section291,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List29>li::before::before{
width: 40px
}
ol.List29>li::before::before{
margin-right: 4px
}
ol.List29>li::before::before{
left: -44px
}
ol.List29>li::before::before{
left: -44px
}
ol.List29>li::before::before{
left: -44px
}
ol.List29>li::before::before{
left: -44px
}
ol.List36>li {
 position: relative
}
ol.List36>li::before {
counter-increment: section361;
content:counter(section361,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List36>li::before::before{
width: 40px
}
ol.List36>li::before::before{
margin-right: 4px
}
ol.List36>li::before::before{
left: -44px
}
ol.List36>li::before::before{
left: -44px
}
ol.List36>li::before::before{
left: -44px
}
ol.List36>li::before::before{
left: -44px
}
ol.List37>li {
 position: relative
}
ol.List37>li::before {
counter-increment: section371;
content:counter(section371,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List37>li::before::before{
width: 40px
}
ol.List37>li::before::before{
margin-right: 4px
}
ol.List37>li::before::before{
left: -44px
}
ol.List37>li::before::before{
left: -44px
}
ol.List37>li::before::before{
left: -44px
}
ol.List37>li::before::before{
left: -44px
}
ol.List37>li>ol {
counter-reset: section372;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List37>li>ol>li {
 position: relative
}
ol.List37>li>ol>li::before {
counter-increment: section372;
content:"";
text-align: right;
position: absolute;
left: undefined;
margin-right: undefined;
width: undefined;
overflow: hidden
}
ol.List37>li>ol>li::before::before{
width: 40px
}
ol.List37>li>ol>li::before::before{
margin-right: 4px
}
ol.List37>li>ol>li::before::before{
left: -44px
}
ol.List37>li>ol>li::before::before{
left: -44px
}
ol.List37>li>ol>li::before::before{
left: -44px
}
ol.List37>li>ol>li::before::before{
left: -44px
}
ol.List3>li {
 position: relative
}
ol.List3>li::before {
counter-increment: section31;
content:counter(section31,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List3>li::before::before{
width: 40px
}
ol.List3>li::before::before{
margin-right: 4px
}
ol.List3>li::before::before{
left: -44px
}
ol.List3>li::before::before{
left: -44px
}
ol.List3>li::before::before{
left: -44px
}
ol.List3>li::before::before{
left: -44px
}
ol.List45>li {
 position: relative
}
ol.List45>li::before {
counter-increment: section451;
content:counter(section451,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List45>li::before::before{
width: 40px
}
ol.List45>li::before::before{
margin-right: 4px
}
ol.List45>li::before::before{
left: -44px
}
ol.List45>li::before::before{
left: -44px
}
ol.List45>li::before::before{
left: -44px
}
ol.List45>li::before::before{
left: -44px
}
span { white-space: pre-wrap
}
ul.List0>li {
 position: relative
}
ul.List0>li::before {
counter-increment: section01;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ul.List0>li::before::before{
width: 40px
}
ul.List0>li::before::before{
margin-right: 4px
}
ul.List0>li::before::before{
left: -44px
}
ul.List0>li::before::before{
left: -44px
}
ul.List0>li::before::before{
left: -44px
}
ul.List0>li::before::before{
left: -44px
}
ul.List33>li {
 position: relative
}
ul.List33>li::before {
counter-increment: section331;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ul.List33>li::before::before{
width: 40px
}
ul.List33>li::before::before{
margin-right: 4px
}
ul.List33>li::before::before{
left: -44px
}
ul.List33>li::before::before{
left: -44px
}
ul.List33>li::before::before{
left: -44px
}
ul.List33>li::before::before{
left: -44px
}
ul.List46>li {
 position: relative
}
ul.List46>li::before {
counter-increment: section461;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ul.List46>li::before::before{
width: 40px
}
ul.List46>li::before::before{
margin-right: 4px
}
ul.List46>li::before::before{
left: -44px
}
ul.List46>li::before::before{
left: -44px
}
ul.List46>li::before::before{
left: -44px
}
ul.List46>li::before::before{
left: -44px
}
ul.List6>li {
 position: relative
}
ul.List6>li::before {
counter-increment: section61;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ul.List6>li::before::before{
width: 40px
}
ul.List6>li::before::before{
margin-right: 4px
}
ul.List6>li::before::before{
left: -44px
}
ul.List6>li::before::before{
left: -44px
}
ul.List6>li::before::before{
left: -44px
}
ul.List6>li::before::before{
left: -44px
}